/*!
 * Scroll to Bottom
 * License - MIT License
 */

.float{
	position:fixed;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
     font-size: 150%;
     float:right;
}

.my-float{
	margin-top:35%;
}

.float:hover {
     box-shadow:0 0 20px 0 rgba(0,0,0,0.40);
}